* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background-color: white;
}

.nav {
    height: 100px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.nav .nav1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.nav1 img {
    width: 30px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
}

.nav h3 {
    font-size: 16px;
    border: 1.5px solid black;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 50px;
}

.nav h1 {
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

.nav button {
    padding: 7px 12px;
    border: 1.5px solid black;
    font-size: 16px;
    border-radius: 25px;

}

#btn2 {
    background-color: orangered;
    color: white;
    border: none;
}

.adv {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    width: 100%;
    text-align: center;
    font-weight: 100;
}

.image img {
    height: 450px;
    width: 400px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-size: cover;
    border-radius: 20px;
    transform: translate(-50%, -50%) rotate(-30deg);
}

.image2 img {
    height: 450px;
    width: 400px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-size: cover;
    border-radius: 20px;
    transform: translate(-50%, -50%) rotate(-25deg);
}

.image3 img {
    height: 450px;
    width: 400px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-size: cover;
    border-radius: 20px;
    transform: translate(-50%, -50%) rotate(-20deg);
}

.image4 img {
    height: 450px;
    width: 400px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-size: cover;
    border-radius: 20px;
    transform: translate(-50%, -50%) rotate(-15deg);
}

.image5 img {
    height: 450px;
    width: 400px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-size: cover;
    border-radius: 20px;

}

.btm-left {
    bottom: 5%;
    left: 5%;
    position: absolute;
    font-size: 18px;
    font-weight: 100;
}

.btm-right {
    bottom: 5%;
    right: 5%;
    position: absolute;
    font-size: 18px;
    font-weight: 100;
}

.icons svg {
    bottom: 9%;
    right: 13%;
    position: absolute;
    font-size: 18px;
    width: 23px;
    height: 23px;
}

.icons2 svg {
    bottom: 9%;
    right: 10%;
    position: absolute;
    font-size: 18px;
    width: 23px;
    height: 23px;
}

.icons3 svg {
    bottom: 9%;
    right: 7%;
    position: absolute;
    font-size: 18px;
    width: 23px;
    height: 23px;
}

.arrow svg{
    bottom: 1%;
    right: 47%;
    position: absolute;
    font-size: 18px;
    width: 50px;
    height: 50px;
}
